%html
	%h1 Hunger Strikes! 

	.content Please choose what you want to do.
	%br/
	
	%li
		%a{:href => url("/menu")} List Menu
	%li
		%a{:href => url("/questions")} List Questions
	%li
		%a{:href => url("/questions/mandatory")} List Mandatory Questions
	%li
		%a{:href => url("/questions/first")} List First Questions
	%li
		%a{:href => url("/menu/excludeddishes")} List Excluded Dishes
	%li
		%a{:href => url("/selectionprocess")} Selection Process
	%li
		%a{:href => url("/customers")} List Customers
