%body
	%h1 First Question With Answers
	%a{:href => url("/")} Home
	%br
	%ul		
	#{@first_question_text}
	
	%form{ :action => "", :method => "post"}
		- @answers_for_first_question.each do |text|
			%li
				%input{ :type => "checkbox", :name => "answer", :value => "#{text[:text]}" } #{text[:text]}
		%input{:type => :submit, :value => "Save"}
	
